/*
    DEMO STYLE
*/
@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";
body {
    font-family: 'Poppins', sans-serif;
    background: #fafafa;
}

p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #555555;
}

a,
a:hover,
a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

.navbar {
    padding: 15px 10px;
    background: #fff;
    border: none;
    border-radius: 0;
    margin-bottom: 40px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
}

.line {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #ddd;
    margin: 40px 0;
}

.border-dashed{

    border: 1px dashed rgba(0,0,0,.125) !important;

}

.card-hover{

    transition: 0.5s;

}

.card-hover:hover{

    transition: 0.5s;
    background-color: #f5f9fc !important;

}

.card-footer-transparent{

    background-color: transparent !important;

}

.border-left-dashed{

    border-left: 1px dashed #dee2e6 !important;

}

.btn-default{
    color: #fff;
    background-color: #4E91E8;
    border-color: #2678E3;
}

.btn-default:hover{
    color: #fff;
    background-color: #2678E3;
    border-color: #2678E3;
}

.progress-bar {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: center;
    justify-content: center;
    overflow: hidden;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    background-color: #2678E3;
    transition: width .6s ease;
}

.border-dashed-default{

    border: 4px dashed #2678E3;

}

.btn-dashed{
    color: #333333;
    background-color: transparent;
    border: 1px dashed #dee2e6 !important;
}

.btn-dashed:hover{
    color: #333333;
    background-color: #dee2e6;
    border: 1px dashed #dee2e6 !important;
}

.small-side-menu{

    font-size: 0.75rem;

}

.profile-header {
    transform: translateY(5rem);
}

.navbar-card{

    margin-bottom: 0;

}
